#contenido, .form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.label{
    font-size: 1.5em;
}
.campo{
    width: 300px;
    height: 40px;
    font-size: 1em;
    border: 5px solid #fa6c6f;
    border-radius: 5px;
    padding-inline: 10px;
}
#contacto{
    width: auto;
    height: auto;
}
#enviar{ 
    width: 150px;
    height: 70px;
    border: 5px solid #fa6c6f;
    border-radius: 50px;
    background-color: white;
    color:#f44548;
    font-size: 1.5em;
    font-weight: bold;
}
.warning{
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 2px;
    font-size:  1em;
    color:red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.exitoso{
    color: #f44548;
    font-size: 2em;
    padding: 10px;
}
#exito2{
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
}