*{
    padding:0;
    margin:0;
}
/* caracteristicas generales nav y footer, contenido y links*/
nav, footer{
    height:80px;
    width:100%;
    background-color: #f18429;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-weight: bold;
    
}

nav .txt-head{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right:10px;

}
.header-link:hover{
    background-color: #d86a0e;
    border-radius: 20px;
}
.txt-head .header-link, .foot-desc{
    padding:10px;
    align-content: center;
}
nav a{
    text-decoration: none;
    color:inherit
}
/* simbolo de menu */
nav .hambur{
    display:inline;
    justify-content: left;
    
    align-content: center;
}
#menu{
    margin:5px;
}
a{
    color:#d86a0e;
}
#titulo_form{
    font-size: 4em;
    color:#d86a0e;
}
nav #menu ul {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f18429;
    top: 90px;
    left:0px;
    position:absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}
nav #menu:hover ul{
    visibility: visible;
    opacity: 1;
    top: 80px;
    
}
nav #menu ul li{
    padding:10px;
    margin-left:5px;
    transition: 200ms;
    border-bottom: 1px solid #d86a0e;
}
#test .boton{
    height: 100px;
    width: 300px;
    border:10px solid #f44548;
    background-color: white;
    border-radius: 50px;
    font-size: 1.8em;
    font-weight: bold;
    color:#f44548;
    justify-self: center;
}